<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include('./partials/navbar') %>
        <link rel="stylesheet" href="/styles/signin.css">

        <div class="signin">
          <div class="onboard-user"></div>
          <div class="container mt-5">
            <h1 class="container ">
              <pre>Welcome Back!!
Login
              </pre>
            </h1>
            <form method="post" action="/user/signin">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div class="underline"></div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                  <div class="underline"></div>
                </div>
                <button type="submit" class="btn btn custom-btn">Submit</button>
              </form>
              <div>
                <a href="/auth/login">
                  <button type="button" class="google-sign-in-button" >
                    Sign in with Google
                  </button>
                </a>
              </div>
        </div>
      </div>
        
        <%- include('./partials/script') %>
      </body>
      </html>